{% extends 'base.html' %}
{% load static %}

{% block style%}
 <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
{% endblock%}

{% block content %}
  <div class="jumbotron jumbotron-fluid" class='img-fluid' style = 'background-image:url("https://image.tmdb.org/t/p/w500/{{ poster_path }}")' >
    <div class="container">
    <h1 class="display-4">{{movie.title}}</h1>
      <p class="lead">Released on: {{ movie.release_date }}</p>
    </div>
  </div>
  <div>
    <form action="{% url 'add_movie' movie.title %}"><button type="submit" class="btn btn-danger"> Add to Favorite</button></form>
      {% comment %} <a href="{% url 'add_movie' movie.title %}" class="btn btn-danger">add To Favorite</a> {% endcomment %}
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <article>This movie is for adults? {{ movie.adult }}</article>
      <article>Average rating {{ movie.vote_average }}</article>
      <article>{{ movie.overview }}</article>
    </div>
  </div>
  <hr />
  <h3 style='color:white'>Similar Movies</h3>
  {% for res  in  similar|slice:":5"  %}
  <div class="card">
    <div class="card-body">
      <a href="/movie/{{res.title}}"> <article>{{res.title}}</article> </a>
      <small style='text-decoration:none; color:black'>{{ res.overview }}</small>
    </div>
  </div>
  {% endfor %}
  <hr />


  <h5 style='color:white'>New Comment</h5>
  <form
    action="{% url 'add_comment_to_movie' movie.title%}"
    method="POST"
    class="post-form"
  >
    {% csrf_token %} {{ comment_form.as_p }}

    <button type="submit" class="save btn btn-default" style='color:white;'>Send</button>
  </form>
  {% if comments %}
  {% for comment in comments %}
  <div class="comment">
    <div class="date">{{ comment.created_date }}</div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
    <hr />
  </div>
  {% empty %}
  <p>No comments here yet :(</p>
{% endfor %}
{% endif %}
{% endblock  %}



<div class="card">
  <div class="card-body">
    <a href="/movie/{{res.title}}"> <article>{{res.title}}</article>
    <small>{{ res.overview }}</small>
  </div>
</div>