{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- {% load static%}

{%block style%}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %} -->

{% block content %}

<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <h3 class="text-center"> Login</h3>
      {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
       <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="login" class="btn btn-danger">
      <input type="hidden" name="next" value="{{ next }}">

    </form>
    </div>
  </div>
</div>

{% endblock  %}
