{% load static %}
    <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" cont ent="ie=edge">
               {% comment %} bootstrap csss {% endcomment %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                <link rel="stylesheet" href="{% static 'css/style.css' %}">

                <title>Movie Book</title>
            </head>
            <body>
                <header>
                
                {% comment %}  tempaary until we get framework choosen {% endcomment %}
             {% include 'nav.html' %}
              </header>
                <main>
                {% block content %}s
                {% endblock %}
                </main>
                <footer>
                &copy; 2020 MovieBooks
                </footer>
            </body>
        </html