nav{
    display: flex;
    flex-direction: row;
   
}

nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.profile-info{
    
    border: 2px solid #919194;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
    
}

nav ul li{
  display: inline-block;
  line-height: 60px;

  /* margin: 0 30px; */
}

.profile button{
    justify-content: center;
}
 a:hover{
  background: #1b9bff;
  transition: .5s;
}
