nav{
    display: flex;
    flex-direction: row;
   
}

.movie{
   display: flex; 
   justify-content: space-evenly;
}

.profile-info{
    
    border: 2px solid #919194;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
    
}

.profile-name{
    display: flex;
    flex-direction: column;
}

.profile button{
    justify-content: center;
}
