{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  
<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="https://picsum.photos/200'" alt="name" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h5>username: {{ profile.first_name }} </h5>
        <h5>lastname: {{ profile.last_name }}</h5>
        <h5>email: {{ profile.email }}</h5>
        <a href="{% url 'edit_profile' profile.id %}" class="btn btn-warning">Edit profile</a>
        <a href="{% url 'delete_profile' profile.id %}" class="btn btn-danger">Delete profile</a>

      </div>
    </div>
   </div>
  </div>
  {% comment %} add a loop to loop thruough thir favorite movies {% endcomment %}
  <!-- <div class="card" id="backdrop"> -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <img src="https://picsum.photos/200" alt="" class="img-fluid">
                  <h2 class="text-center"> Movie Title </h2>
                    <p>your review and rating</p>
                      <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <img src="https://picsum.photos/200" alt="" class="img-fluid">
                  <h2 class="text-center"> Movie Title </h2>
                    <p>your review and rating</p>
                      <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <img src="https://picsum.photos/200" alt="" class="img-fluid">
                  <h2 class="text-center"> Movie Title </h2>
                    <p>your review and rating</p>
                      <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock  %}